@use '../../../../styles/components/button';
@use '../../../../styles/components/form-group';
@use '../../../../styles/components/form-elements';
@use '../../../../styles/components/message';

.editModeToggle {
    display: flex;
    justify-content: flex-end;
    padding-top: 3rem;
}

.editModeToggleButton {
    @extend .button;
}

.commentsHeading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.formGroup {
    @extend .form-group;
}

.input {
    @extend .input;
}

.select {
    @extend .select;
}

.textarea {
    @extend .textarea;
}

.submitButton {
    @extend .button;
}

.messageSuccess {
    @extend .message;
    @extend .message--success;
}

.messageFailure {
    @extend .message;
    @extend .message--error;
}
