.c-filter {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid $color-secondary;

    &__input {
        width: 100%;
        padding: 1rem 0.5rem;
        border: 2px solid $color-secondary;
        border-radius: 0;

        &:focus {
            outline: none;
            border-color: $color-primary;
        }
    }
}
